sympy
numpy
scipy
pygame
matplotlib
ipython
pandas
ipython[notebook]
jupyterlab
ipykernel

pybind11
packaging
Mako
pygobject==3.50.0
pycairo
PyGObject
jsonschema
PyQt5


construct>=2.9
requests
websocket-client

flask
