sympy
numpy
scipy
pygame
matplotlib
pandas
jupyterlab
pytest
#ipywidgets
InquirerPy

pybind11
packaging
Mako
pycairo
jsonschema
PyQt6


construct>=2.9
requests
websocket-client

flask

prompt_toolkit
sqlalchemy
coloredlogs
pyvisa
pyusb
PyYAML
Pygments
ipython
